* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  font-family: "Roboto", sans-serif;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(166deg)
    brightness(104%) contrast(101%);
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template: 100px 1fr / 175px 1fr;
  /* height: 100vh; */
  width: min(100vw, 840px);
}

h2 {
  font-size: 0.7rem;
}

h3 {
  font-size: 0.65rem;
}

h4 {
  font-size: 0.5rem;
}

hr {
  border: none;
  border-top: 0.1px solid rgba(0, 0, 0, 0.2);
  height: 0;
  padding: 0;
  margin: 10px auto;
}

/* HEADER */

.header {
  background-color: #fff;
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template: 2fr 3fr / 3fr 2fr;
  padding: 3px 5% 0 3.5%;
  font-weight: 900;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Header search */

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.search-button {
  height: 14px;
  margin-right: 12px;
}

.search-input {
  height: 18px;
  width: calc(100% - 26px);
  border: none;
  border-radius: 9px;
  background-color: #e2e8f0;
}

/* Header account info */

.account-info-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
}

.ring-button {
  height: 14px;
}

.account-avatar {
  border-radius: 50%;
  margin: auto 20px;
}

.user-name {
  font-size: 0.65rem;
}

/* Header greetings */

.greetings-container {
  display: flex;
  align-items: center;
}

.greetings-avatar {
  display: inline-block;
  border-radius: 50%;
  margin-right: 12px;
}

.greetings-hi {
  font-size: 0.5rem;
}

.greetings-name {
  font-size: 0.85rem;
  margin-top: 2px;
}

/* Header content buttons */

.content-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
}

.content-button {
  color: #fff;
  background-color: #0ea5e9;
  font-size: 0.6rem;
  font-weight: 700;
  height: 24px;
  width: 60px;
  border: none;
  border-radius: 12px;
}

/* SIDEBAR */

.sidebar {
  background-color: #0ea5e9;
  grid-row: 1/3;
  grid-column: 1/2;
  color: #fff;
}

.logo-container {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-left: 2px;
}

.dashboard {
  margin: auto 7px;
  height: 28px;
}

.nav {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 2px;
}

.nav-li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.nav-icon {
  height: 14px;
  margin: auto 14px;
}

.settings {
  margin-top: 42px;
}

/* CONTENT SECTION */

.main-content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 8fr 3fr;
}

/* Content main grid */

.content-project-container {
  display: grid;
  grid-template: 0.7rem repeat(3, 125px) / 1fr 1fr;
  gap: 15px;
  padding: 16px 12px 0;
}

.your-projects {
  grid-column: 1/3;
}

.project-card {
  border-radius: 4px;
  overflow: hidden;
  display: grid;
  grid-template: 1fr 40px / 4px 1fr;
}

.card-color-line {
  background-color: #eab308;
  grid-row: 1/3;
  grid-column: 1/2;
}

.card-text-content {
  background-color: #fff;
  padding: 8% 5% 0;
}

.card-p {
  font-size: 0.6rem;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.card-button-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-button {
  height: 14px;
  margin-right: 16px;
}

/* Content announcements */

.announcements-trending-container {
  display: flex;
  flex-direction: column;
  padding: 16px 12px 0 0;
}

.announcements-container {
  margin-top: 12px;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  height: 180px;
}

.announcements-p {
  font-size: 0.45rem;
  color: rgba(0, 0, 0, 0.6);
  height: 26px;
}

/* Content trending */

.trending-container {
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px;
  height: 180px;
  width: 100%;
}

.trending-h2 {
  margin-top: auto;
  margin-bottom: 12px;
}

.trending-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.trending {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.trending-avatar {
  border-radius: 50%;
}

.trending-text {
  margin-left: 12px;
}

.trending-h3 {
  font-size: 0.5rem;
}

.trending-p {
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
}
